.login-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.Myplans{
    position: absolute;
    width: 482px;
    height: 137px;
    left: 167px;
    top: 378px;

    font-family: Open Sans, serif;
    font-style: normal;
    font-weight: bold;
    font-size: 100px;
    line-height: 136px;
    /* identical to box height */

    text-transform: uppercase;

    color: #FFFFFF;
}
.signup{
    position: absolute;
    width: 110px;
    height: 40px;
    left: 1239px;
    top: 140px;

    border: 1px solid #FFFFFF;
    border-radius: 50px;
}
#signup{
    /* Sign Up */
    position: absolute;
    width: 72px;
    height: 28px;
    left: 1258px;
    top: 146px;

    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 27px;
    /* identical to box height */


    color: #FFFFFF;
}
.background{
    background:url(Img.png);
    position: page;
    width: 1400px;
    height: 1260px;
    left: 100px;
    top: 110px;

}
.email{
    position: absolute;
    width: 272px;
    height: 27px;
    left: 784px;
    top: 414px;

    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 36px;

    color: #FFFFFF;
}
